.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

.reg_wdt{
    padding-left: 200px;
}
.register_widget{
    display: block;
max-width: 750px;
margin-top: 200px;
margin-left:200px;
margin-right: 200px;
}

mat-form-field{
width:350px;

}
mat-radio-button {
    margin-right: 10px;
    margin-left: 10px;
}
.address .mat-form-field{
    width: 100%;
}

.role_sel{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 330px;
    margin-bottom: 10px;
}